<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a>
<div class="busuanzi-count">
  <script pjax async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span class="post-meta-item" id="busuanzi_container_site_uv" style="display: none;">
      <span class="post-meta-item-icon">
        <i class="fa fa-eye"></i>
      </span>
      <span class="site-uv" title="总访问量">
        <span id="busuanzi_value_site_uv"></span>
      </span>
    </span>
</div>
<!-- end custom footer snippets -->
